body {
  margin: 0;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 92vh; 
  background-color: #000 !important;
}

.Section {
  width: 1280px; 
  height: 720px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  position: relative; 
  background-color: transparent; 
}

._6-1,
._6-2 {
  width: 1280px; 
  height: 795px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  position: relative; 
}

/*버튼 선택 처리*/
.ChkBtn{
  cursor: pointer;
}
.ChkBtn img{
  display: none;
}
.ChkBtn.on img{
  display: block;
}
/*버튼 선택 처리 끝*/

.o_over {
  width: 295px;
  height: 242px;
  display: block;
  position: absolute;
  top: 349px;
  left: 356px;
}

.o_over_img {
  width: 295px;
  height: 242px;
}

.x_over {
  width: 277px;
  height: 242px;
  display: block;
  position: absolute;
  top: 349px;
  left: 651px;
}

.x_over_img {
  width: 277px;
  height: 242px;
}

.prev_btn {
  width: 17px;
  height: 18px;
  display: block;
  position: absolute;
  top: 616px;
  left: 565px;
}

.prev_b_img {
  width: 17px;
  height: 18px;
  display: none;
}

.next_btn {
  width: 17px;
  height: 18px;
  position: absolute;
  top: 616px;
  left: 698px;
}

.next_b_img {
  width: 17px;
  height: 18px;
  display: none;
}

.q_1 {
  width: 1280px;
  height: 720px;
  position: absolute;
  inset: 0;
  z-index: 1;
}

.q1_img, .q1 {
  width: 1280px;
  height: 720px;
}

.q_2 {
  width: 1280px;
  height: 720px;
  position: absolute;
  inset: 0;
}

.q2_img, .q2 {
  width: 1280px;
  height: 720px;
}

.q_3 {
  width: 1280px;
  height: 720px;
  position: absolute;
  inset: 0;
}

.q3_img, .q3 {
  width: 1280px;
  height: 720px;
}

.q_4 {
  width: 1280px;
  height: 720px;
  position: absolute;
  inset: 0;
}

.q4_img, .q4 {
  width: 1280px;
  height: 720px;
}

.q_5 {
  width: 1280px;
  height: 720px;
  position: absolute;
  inset: 0;
}

.q5_img, .q5 {
  width: 1280px;
  height: 720px;
}

/* 버튼의 부모 요소 스타일 */
.next {
  position: relative; /* 부모 요소를 기준으로 버튼 배치 */
  width: 100%; /* 필요에 따라 조정 */
}

/* 버튼 스타일 */
.next button {
  position: absolute;
  bottom: -270px;
  right:67px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  z-index: 1;
}

.next button:hover {
  background-color: #ff4500;
}


._6-2.section.quiz2 {
  width: 1280px;
  height: 720px;
  position: absolute;
  inset: 0;
}

._6-2_bg {
  width: 1280px;
  height: 795px;
  display: block;
}

._6-2_bg_img {
  width: 1280px;
  height: 720px;
  display: inline-block;
}

/*버튼 선택 처리*/
.Btn{
  cursor: pointer;
}
.Btn img{
  display: none;
}
.Btn.on img{
  display: block;
}
/*버튼 선택 처리 끝*/

.b1 {
  width: 234px;
  height: 156px;
  position: absolute;
  top: 245px;
  left: 652px;
}

.b1_img {
  width: 234px;
  height: 156px;
}

.b2 {
  width: 240px;
  height: 162px;
  position: absolute;
  top: 315px;
  left: 360px;
}

.b2_img {
  width: 240px;
  height: 162px;
}

.b3 {
  width: 243px;
  height: 151px;
  position: absolute;
  top: 507px;
  left: 375px;
}

.b3_img {
  width: 243px;
  height: 151px;
}

.b4 {
  width: 140px;
  height: 141px;
  position: absolute;
  top: 355px;
  left: 599px;
}

.b4_img {
  width: 140px;
  height: 141px;
}

.b5 {
  width: 130px;
  height: 125px;
  display: block;
  position: absolute;
  top: 392px;
  left: 730px;
}

.b5_img {
  width: 130px;
  height: 125px;
}

/* 캐릭터 */
.Character1 {
  height: 203px;
  width: 180px;
  position: absolute;
  bottom: 75px;
  left: 28px;
  z-index: 1;
}
.Character1 > div {
  position: absolute; /* 부모(Character1)를 기준으로 위치 지정 */
  top: 0;
  left: 0;
  width: 100%; /* 부모 크기만큼 가득 차게 설정 */
  height: 100%; /* 부모 크기만큼 가득 차게 설정 */
  display: none; /* 기본적으로 보이지 않게 설정 */
}

.qman {
  display: block;
  background-image: url(../images/qman.png);
  animation: qman 1.4s 0.3s infinite steps(20) forwards;
}

.oman {
  background-image: url(../images/oman.png);
  animation: oman 0.9s 0.3s 5 steps(30) forwards;
}

.xman {
  background-image: url(../images/xman.png);
  animation: xman 0.54s 0.3s 3 steps(18) forwards;
}

@keyframes qman {
  to {
      background-position: -3750px 0;
  }
}
@keyframes oman {
  to {
      background-position: -5625px 0;
  }
}
@keyframes xman {
  to {
      background-position: -3375px 0;
  }
}

/* ETC */
#Popup {
  position: absolute;
  top:0px;
  width: 1280px; /* 고정 너비 */
  height: 720px; /* 고정 높이 */
  background-color: rgba(0, 0, 0, 0.8); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  overflow: visible; 
}

#Area {
  text-align: center;
  margin-bottom: 30px;
}

#QuestionArea h1 {
  font-size: 48px;
  color: #333;
  margin-bottom: 10px;
}

#QuestionArea p {
  font-size: 18px;
  color: #555;
}

#PopupContent {
  position: relative;
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title_etc {
  width: 830px;
  height: auto;
  display: block;
  position: absolute;
  left: 17%;
  z-index: 1;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 56%;
  transform: translate(-72%, -10%);
  z-index: 2;
}

.title_txt {
  width: 117%;
  height: auto;
}

#Buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  margin-top: -28px;
}

.retry-button,
.next-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.retry-button img,
.next-button img {
  width: 290px; 
  height: 75px; 
}



